blinker==1.4
coverage==7.5.0
cryptography==3.4.8
httplib2==0.20.2
importlib-metadata==4.6.4
keyring==23.5.0
more-itertools==8.10.0
netifaces==0.11.0
PyJWT==2.3.0
PyYAML==5.4.1
SecretStorage==3.3.1
six==1.16.0
zipp==1.0.0

